.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.btn-container {
  text-align: center;
  :nth-child(1) {
    margin-right: 10px;
  }
}

button {
  padding: 0.5rem;
  user-select: none;
}

h2 {
  color: #ffff;
  font-size: 2rem;
}
