.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.btn-container {
  :nth-child(1) {
    margin-right: 10px;
  }
}

button {
  padding: 0.5rem;
  user-select: none;
}
