body {
  margin: 0;
  padding: 0;
}

div#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(#b8dafc, white);
}

.container {
  width: 95%;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  margin: auto;
  padding: 0 20px;
  border: 1px solid lightgray;
}
.card-top {
  text-align: center;
}

.card-middle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  & > label {
    width: fit-content;

    cursor: pointer;
  }
  & > button {
    width: fit-content;
    height: fit-content;
  }
  & > input {
    width: 50%;
  }
}
